/*头部*/
.am-nav-text{
    margin: 0;
    width: 92%;
    line-height: 50px;
    text-align: center;
}
/*热门推荐*/

.am-contText{
    font-size: 20px;
}
.am-hotList{
    padding: 0;
}
.am-list{
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    background: #f8f8f8;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
}
.list_img{
    width: 84px;
    height: 84px;
}
.list_text{
    margin: 0;
    margin-left: 10px;
    font-size: 18px;
    line-height: 84px;
}


/*快速任务*/
.am-task{
    display: flex;
    justify-content: space-between;
}
.am-taskText{
    margin-top: 0;
    line-height: 32px;
    font-size: 14px;
    color: #E1C1C1;
}

.am-taskList{
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #aaaaaa;
}
.am_taList{
    display: flex;
    margin-top: 20px;
}
.am_taList:nth-child(1){
    margin-top: 0;
}
.task_img{
    width: 80px;
    height: 80px;
}
.taskList{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 72%;
}
.title{
    font-size: 20px;
}
.list_num{
    margin-bottom: 0;
    font-size: 10px;
    color: #E1C1C1;
}
.list_money{
    font-size: 24px;
}