.am-nav-text{
    margin: 0;
    width: 92%;
    line-height: 50px;
    text-align: center;
}
.am-topbar{
    margin: 0;
}

.am-icon-chevron-right{
    color: #000000;
}


.contList{
    margin-top: 30px;
    padding: 0;
    list-style: none;
}
.am-contList{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #bbbbbb;
    color: #000;
}
.am-contList p{
    margin: 0;
}

.contRight{
    display: flex;
}
.contImg{
    margin-right: 10px;
    width: 66px;
    height: 66px;
    border-radius: 50%;
}
.contRight p{
    margin-right: 10px;
    color: #D0A7A7;
}